
.about-content{
    margin: 1rem 0 1rem 0;
}

.about-img{
    flex-basis: 20%;
    flex-grow: 1;
}

.about-img img{
    border-radius: 10rem;
}

.about-text{
    padding: 0 2rem;
    justify-content: center;
    color: #000;
    line-height: 2;
    flex-basis: 60%;
    background-color: #f1d6ab;
    flex-grow: 2;
    margin-left: 2rem;
    border-left: 3px solid black;
}


@media(max-width: 768px){
    .about-content{
        flex-direction: column;
    }
    .about-img img{
        width: 40%;
    }
    .about-text{
        padding: 0;
        margin: 1rem 2rem auto 2rem;
    }

    .btn-about{
        margin-bottom: 1rem;
    }
}