
.form{
    width: 100vw;
    height: 100vh;
    background-color: #2b2b28;
}

.form .container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-form{
    height: 60%;
    width: 60%;
    align-self: center;
    margin: auto 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    display: flex;
}

.contact-form{
    width: 100%;
    align-self: center;
}

.contact-form h2{
    font-size: 2rem;
}

.btn-form{
    width: 80%;
    display: block;
}

.input-form{
    margin: 1rem 2rem;
    line-height: 1.5;
}

.input-form input, .input-form textarea{
    width: 100%;
}

.input-form input{
    border: none;
    height: 2rem;
    border-radius: .5rem;
}

.input-form textarea{
    border: none;
    height: 6rem;
    border: none;
    border-radius: .5rem;
}

@media(max-width:415px){
    .card-form{
        width: 90%;
        height: 90%;
        margin: 0;
    }
    .input-form{
        line-height: 1;
        margin: .8rem 1rem;
    }
    .input-form input{
        height: 1.5rem;
    }

    .contact-form h2{
        font-size: 2rem;
    }

}

@media(max-width:900px) and (orientation: landscape){

    .form{
        height: 150vh;
        background-color: #2b2b28;
    }

    .card-form{
        width: 100%;
        height: 100%;
    }
    .input-form{
        line-height: 1;
        margin: .8rem 1rem;
    }
    .input-form input{
        height: 1.5rem;
    }

    .contact-form h2{
        font-size: 2rem;
    }

}